<div >
    hello worl
    <ol id="courses"></ol>
</div>
@section scripts
{
    <script>
        $.ajax({
            url: '/api/courses', // always use first slash (/ap...)  when making call to ajax, adding slash in front means that start the call as absolute dont use the relative path,
            // so call starts from actual start of project thus webapiconfig.cs redirects it properly.
            //
            success: function (courses) {
                debugger;
                var list = $('#courses');
                for (var i = 0; i < courses.length; i++)
                {
                    var course = courses[i];
                    list.append('<li>' + course.title + '</li>');
                }
            }
        });
    </script>
}
